:root {
    --primary-color: #E4F5DA;
  }
  
  .btn {
    padding: 0.6rem 0.8rem;

    
    text-shadow:
    0 0 30px #000;
  
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
    cursor: pointer;
    
    
  }
  
  
  .btn.add {
    
  border: 2px solid  #39E173;
  color:#39E173;
  background-color: #151730;
    font-weight: bold;
    font-size: 1.15rem;
  }


  
  .btn.remove {
   
    border: 2px solid  #F43643;
    color:#F43643;
    background-color: #151730;
      font-weight: bold;
         font-size: 1.15rem;
  }

  .btn.checkout {
   
    color : var(--primary-color);

   
    background-color: #39E173;
    font-weight: bold;
    text-shadow:
    0 0 17px #000;
  
   
   
    font-size: 1.15rem;
  }
  
  .btn:active {
    transform: scale(0.98) ;

   

    
  }




  
 
  
